@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    font-family: 'Ubuntu', sans-serif !important;
}

.video {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    transition: all;
    z-index: 1;
    transition-duration: 1s;
}


.caption {
    z-index: 1;
    font-family: sans-serif;
    /* Position the text in the bottom-left corner of the overlay */
    position: absolute;
    bottom: -5px;
    left: 20px;
    padding: 1em;
}

@media only screen and (min-width: 1000px) {
    .video:hover {
        transform: scale(1.5);
        position: absolute !important;
        top: 10%;
        left: 50%;
        z-index: 1;
    }

    .container-slider {
        height: 100vh !important;
    }

    .caption {
        z-index: 1;
        font-family: sans-serif;
        /* Position the text in the bottom-left corner of the overlay */
        position: absolute;
        bottom: 110px;
        left: 0;
        padding: 1em;
    }
}